.progressBar
{
    background-color: #036A81;
    height: 1.5px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:#D9D9D9;
    border-color: #036A81;
    position: relative;
    top: -10px; 
    border-width: 1px;
    margin-right: auto;
}

.progressBar :nth-child(4){
    margin-right: 0px

}


.active{
    border-width: 4px;
}